

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%
}
.body{
    padding: 4040 color purple
    ;
}



.amiiboname {
    font-family: 'Baumans', system-ui;
    font-size: 30px;
    color: white;
}

.Text{
    color: blueviolet;
    font-family: 'Baumans', system-ui;
    align-self: center;
    margin-left: 450px;
}

.amiiboccard {
    margin-top: 50px;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: palevioletred;
    box-shadow: 0, 0, 0, 0.5rem green;
    outline: 0.5rem red;
    outline-offset: 0.5rem;
    border-radius: 10px;
    border: 2mm solid pink;
    padding: white 10px 10px 10px 10px;
}



.ItemImage {
    height: 200px;
    width: 200px;
}



.amiiboseries {
    font-family: 'Baumans', system-ui;
    font-size: 20px;
    color: black;
    align-self: center;
    align-content: center;
}



.headi {
    margin-left: 600px;
    color: blueviolet
}

.error{
    font-family: 'Baumans', system-ui;
    color:blueviolet;
    margin-left:210px;
    font-size: 30px;
}